*/*.o
*/.deps/
*/.dirstamp
*/.libs/
*/*.la
*/*.lo
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
include/config.h.in
include/stamp-h1
install-sh
libtool
ltmain.sh
ltximg/
Makefile
missing
pkgconfig/trexio.pc
test_write.h5
trexio-*.tar.gz



