[submodule "docs/org-html-themes"]
	path = docs/org-html-themes
	url = https://github.com:fniessen/org-html-themes.git
[submodule "python/examples"]
	path = python/examples
	url = git@github.com:TREX-CoE/trexio-tutorials.git
