*/*.o
*/.deps/
*/.dirstamp
*/.libs/
*/*.la
*/*.lo
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
ar-lib
compile
config.guess
config.log
config.status
config.sub
configure
config.h.in
config.h
depcomp
include/config.h.in
include/stamp-h1
install-sh
libtool
ltmain.sh
ltximg/
missing
Makefile
Makefile.in
pkgconfig/trexio.pc
trexio.pc
trexio.mod
test-driver
test-suite.log
*.h5
trexio-*.tar.gz
trex.json
*~
.*.swp
/build*

# Build artifacts and temporary files
.git_hash
*.dir/
docs/.htmlizer
docs/*.html
test_file/
*.log
