*/*.o
*/.deps/
*/.dirstamp
*/.libs/
*/*.la
*/*.lo
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
config.h.in
config.h
depcomp
include/config.h.in
include/stamp-h1
install-sh
libtool
ltmain.sh
ltximg/
missing
Makefile
Makefile.in
pkgconfig/trexio.pc
trexio.pc
trexio.mod
test-driver
test-suite.log
*.h5
trexio-*.tar.gz



