include src/*.c
include src/trexio*.h
include examples/notebooks/*
include examples/README.md
include requirements.txt tools/set_NUMPY_INCLUDEDIR.sh
include test/benzene_data.py
include test/conftest.py

exclude examples/LICENSE
exclude examples/requirements.txt
exclude examples/runtime.txt
