include src/*.c 
include src/trexio*.h 
include examples/notebooks/* 
include examples/README.md 
include requirements.txt tools/set_NUMPY_INCLUDEDIR.sh

exclude examples/LICENSE
exclude examples/requirements.txt
exclude examples/runtime.txt
