templates_front/*.c
templates_front/*.h
templates_front/*.f90
templates_front/populated/

templates_hdf5/*.c
templates_hdf5/*.h
templates_hdf5/populated/

templates_text/*.c
templates_text/*.h
templates_text/populated/

libtrexio.so
*.o
*.h
trexio.c
trexio_text.c
trexio_hdf5.c
trexio_f.f90
trexio.mod

test
test_f
*.h5
trexio_test/

