templates_front/*.c
templates_front/*.h
templates_front/*.f90
templates_front/*.fh_90
templates_front/*.py
templates_front/*.dump
templates_front/populated/

templates_hdf5/*.c
templates_hdf5/*.h
templates_hdf5/*.dump
templates_hdf5/populated/

templates_text/*.c
templates_text/*.h
templates_text/*.dump
templates_text/populated/

*.so
*.o
*.h
*.dump
*.cppcheck

trexio.c
trexio_text.c
trexio_hdf5.c
trexio_f.f90
trexio.mod

trexio.py
pytrexio.py
pytrexio_wrap.c

*.h5
*.dir/
__pycache__/
